/* Global Styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #333;
}
h2 {
    text-align: center;
    margin: 20px 0;
    color: #333;
    border: #333;
    border-width: 10px;
}
p.resumo {
    text-align: justify;
    padding: 20px;
    background-color: #fff;
    margin: 0;
    
    
}

/* Container for the gallery */
.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Gallery Styles */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.gallery div {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    flex: 1 1 500px; /* Adjust the flex basis value as needed */
    max-width: 100%; /* Adjust the max-width value as needed */
    margin-bottom: 20px;
}

.gallery img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.gallery h3{
    margin: 10px;
    color: #000000;
}

.gallery h5 {
    margin: 10px;
    margin-top: 0;
    color: #333;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -1px 5px rgba(0,0,0,0.1);
}

footer a {
    color: #fff;
    text-decoration: underline;
}

footer a:hover {
    text-decoration: none;
}
